body.ac{
    background-image: url(https://www.numerama.com/wp-content/uploads/2015/11/the-elder-scrolls-v-skyrim-17600.jpg)
}

body{
    background-color: rgb(190, 212, 205);
}

div.Index {
    text-align: center;
    border: 1px solid black;
    font-size: 120%;
    background-color: gray;
    background-blend-mode: color;
}

a.Index {
    padding: 5%;
}

h1 {
    text-align: center;
}

table{
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    background-color: gray;
}

td{
    border: 1px solid black;
}

a.Index:hover{
    color: red;
}